.elementor-628 .elementor-element.elementor-element-71528f6{--display:flex;--background-transition:0.3s;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;overflow:visible;}.elementor-628 .elementor-element.elementor-element-ad352ed > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}/* Start custom CSS for container, class: .elementor-element-71528f6 */#my-single-product-slide  img{
    width: 100% !important;
}

#my-single-product-slide  .price{
    display: block
}/* End custom CSS */