:root {
  --primary: #42e5fc;
}

body {
  margin: 0 !important;
}

a:hover {
  text-decoration: none;
}
header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}

.woocommerce-page div.product div.images {
  width: unset !important;
}
